<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View CO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

    <script>
        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</head>

</head>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
</style>


<!-- Custom styles for this template -->
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

        <a class="navbar-brand col-sm-3 col-lg-2 me-0 px-3 fs-6">Independent University, Bangladesh</a>

        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
            </div>
        </div>

    </header>

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/faculty/dashboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-home align-text-bottom" aria-hidden="true">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/faculty/co">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-file align-text-bottom" aria-hidden="true">
                            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                            <polyline points="13 2 13 9 20 9"></polyline>
                        </svg>
                        Course Outline
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-3">
        <div class="d-flex flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Create Course Outline</h1>
        </div>

        <!-- <P>pura format boshbe ekhane hehe</P> -->
        <div class="bg-light shadow-sm mx-auto py-3 px-3"
            style="width: 90%; height: auto; border-radius: 15px 15px 15px 15px;">

            <form action="" method="POST">{% csrf_token %}
                <table class="table table-bordered">
                    <thead>
                        <tr style="width: 100%">
                            <th scope="col" style="width: 20%"> <img src="{% static 'images/IUB-logo.png' %}"
                                    alt="IUB LOGO" height=100% width=100%></img></th>
                            <th>
                                <div class="form-floating">
                                    <center>
                                        <div name="viewdept" class="input-group mb-3 text-center fs-4" style="width: 60%;"></div>
                                        &nbsp;
                                        <div name="viewschool" class="input-group mb-3" style="width: 60%;"></div>
                                    </center>
                                    <p class="text-center fs-4 pt-3">INDEPENDENT UNIVERSITY, BANGLADESH (IUB)</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>

                <table class="table table-bordered">
                    <form>
                        <thead>
                            <tr>
                                <th colspan="4" class="text-start fs-5" scope="col-1">Course Outline</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr style="width: 100%">
                                <th class="text-start" style="width: 20%" class="text-center fs-6">Course Code</th>
                                <td name="viewcode" class="text-start" style="width: 30%" class="text-center fs-6"></td>


                                <th class="text-start" style="width: 20%" class="text-center fs-6">Course Title</th>

                                <td name="viewtitle" class="text-start" style="width: 30%" class="text-center fs-6">
                                </td>
                            </tr>

                            <tr class="text-start" style="width: 100%">
                                <th class="text-start" style="width: 20%" class="text-center fs-6">Course Type</th>

                                <td name="viewtype" class="text-start" style="width: 30%" class="text-center fs-6"></td>

                                <th class="text-start" style="width: 20%" class="text-center fs-6">Course Prerequisite
                                    (If
                                    any)
                                </th>

                                <td name="viewprereq" class="text-start" style="width: 30%" class="text-center fs-6">
                                </td>
                            </tr>

                            <tr class="text-start" style="width: 100%">
                                <th class="text-start" style="width: 20%" class="text-center fs-6">Credit Value</th>
                                <td name="viewcred" class="text-start" style="width: 30%" class="text-center fs-6"></td>

                                <th class="text-start" style="width: 20%" class="text-center fs-6">Contact Hours/Week
                                </th>
                                <td name="viewcontact" class="text-start" style="width: 30%" class="text-center fs-6">
                                </td>
                            </tr>
                        </tbody>
                    </form>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start fs-5">Course Description</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td name="viewcdesc">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start fs-5">Course Objective</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td name="viewcobj">

                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start fs-5">Course Policy</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <div class="bg-body shadow-sm mx-auto py-3 px-3"
                                    style="border-radius: 10px 10px 10px 10px;">
                                    <p class="text-start fs-6">
                                        <b>a.</b> It is the student’s responsibility to gather information about the
                                        assignments/project and cover topics
                                        during the lectures missed. Regular class attendance is mandatory. Points will
                                        be
                                        taken off for missing
                                        classes. Without 70% of attendance, sitting for the final exam is NOT allowed.
                                        Students should come on
                                        time to get the attendance. In the event of failing 70% of attendance, a student
                                        will receive a W grade
                                        automatically. <br><br>
                                        <b>b.</b> Same project work is assigned to all sections. Students should work in
                                        groups for
                                        the project. They are
                                        required to prepare a final report on the project which will be incrementally
                                        developed through
                                        assignments. <br><br>
                                        <b>c.</b> The date and syllabus of class tests, Mid-Term and Final-Term will be
                                        announced
                                        in the class. There is NO
                                        provision for make-up. <br><br>
                                        <b>d.</b> Both the Mid-Term and Final-Term exams will be coordinated exams and
                                        will
                                        be held
                                        on a specific date
                                        for all the sections. <br><br>
                                        <b>e.</b> The reading materials for each class will be given prior to that class
                                        so
                                        that
                                        students may have a cursory
                                        look into the materials. <br><br>
                                        <b>f.</b>Class participation is vital for a better understanding of the topics
                                        of
                                        this
                                        course. Students are invited to
                                        raise questions. <br><br>
                                        <b>g.</b> Students should take tutorials with the instructor during office
                                        hours.
                                        Prior
                                        appointment is required. <br><br>
                                        <b>h.</b> Students must maintain the IUB code of conduct and ethical guidelines
                                        offered by
                                        the school of computer
                                        science and engineering. <br><br>
                                        <b>i.</b> No working mobile phones are allowed in class. Using one for any
                                        purpose
                                        will
                                        result in serious
                                        consequences.
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start fs-5">Academic Dishonesty</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <div class="bg-body shadow-sm mx-auto py-3 px-3"
                                    style="border-radius: 10px 10px 10px 10px;">
                                    <p class="text-start fs-6">
                                        <b>a.</b> A student who cheats, plagiarizes, or furnishes false, misleading
                                        information in
                                        the course is subject to
                                        disciplinary action up to and including an F grade in the course and/or
                                        suspension/expulsion from the
                                        University. <br><br>
                                        <b>b.</b> Students must maintain the code of IUB. <br><br>
                                        <b>c.</b> The goal of homework is to give you practice in mastering the course
                                        material.
                                        Consequently, you are
                                        encouraged to collaborate on problem sets. In fact, students who form study
                                        groups
                                        generally do better on
                                        exams than do students who work alone. If you do work in a study group, however,
                                        you
                                        owe it to yourself
                                        and your group to be prepared for your study group meeting. Specifically, you
                                        should
                                        spend at least 30-45
                                        minutes trying to solve each problem beforehand by yourself. If your group is
                                        unable
                                        to solve a problem,
                                        talk to other groups or ask your recitation instructor or teaching assistant
                                        assigned to your class.<br><br>
                                        <b>d.</b> You must write up each problem solution by yourself without
                                        assistance. It
                                        is a
                                        violation of this policy to
                                        submit a problem solution that you cannot orally explain to a member of the
                                        course
                                        staff.<br><br>
                                        <b>e.</b> No collaboration whatsoever is permitted during examination.<br><br>
                                        <b>f.</b> Plagiarism and other anti-intellectual behavior cannot be tolerated in
                                        any
                                        academic environment that
                                        prides itself on individual accomplishment. If you have any questions about the
                                        collaboration policy, or if
                                        you feel that you may have violated the policy, please talk to one of the course
                                        staff. Although the course
                                        staff is obligated to deal with cheating appropriately, we are more
                                        understanding
                                        and lenient if we find out
                                        from the transgressor himself or herself rather than from a third party or by
                                        ourselves.
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start fs-5">Student with Disabilities and Stress</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <div class="bg-body shadow-sm mx-auto py-3 px-3"
                                    style="border-radius: 10px 10px 10px 10px;">
                                    <p class="text-start fs-6">
                                        Students with disabilities are required to inform the Department of Computer
                                        Science
                                        & Engineering of any
                                        specific requirement for classes or examination as soon as possible.
                                        Additionally,
                                        if you experience significant
                                        stress or worry, changes in mood, or problems eating or sleeping this semester,
                                        whether because of this or
                                        any other courses or factors, please do not hesitate to reach out immediately,
                                        at
                                        any hour, to any of the
                                        course’s heads to discuss.
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start fs-5">Non Discrimination Policy</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <div class="bg-body shadow-sm mx-auto py-3 px-3"
                                    style="border-radius: 10px 10px 10px 10px;">
                                    <p class="text-start fs-6">
                                        The course and University policy prohibit discrimination based on race, color,
                                        religion, sex, marital or parental
                                        status, national origin or ancestry, age, mental or physical disability, sexual
                                        orientation, military status. If you
                                        see either by course instructor or any other person related to course showing
                                        any
                                        form of discrimination,
                                        please inform the proctors office of the wrongdoing.
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start fs-5">Course Content</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td name="viewccont">

                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <th colspan="7" class="text-start fs-5">Course Learning Outcome (CLO) Matrix
                        </th>
                        <tr style="width: 100%">
                            <th rowspan="2" class="text-start" style="width: 5%">CLOs</th>
                            <th rowspan="2" class="text-start" style="width: 50%">CLO Description</th>
                            <th colspan="3" class="text-center" style="width: 20%">Bloom's Learning Level</th>
                            <th rowspan="2" class="text-start" style="width: 20%">PLO Assessed</th>
                            <th rowspan="2" class="text-center" style="width: 5%">CLO-PLO Correlation</th>
                        </tr>
                        <tr>
                            <th class="text-center">C</th>
                            <th class="text-center">P</th>
                            <th class="text-center">A</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th name="viewclo1" style="width: 8.33%"></th>
                            <td name="viewclo1desc"></td>
                            <td name="viewclo1C"></td>
                            <td name="viewclo1P"></td>
                            <td name="viewclo1A"></td>
                            <td name="viewplo1"></td>
                            <td name="viewCP1"></td>
                        </tr>

                        <tr>
                            <th name="viewclo2" style="width: 8.33%"></th>
                            <td name="viewclo2desc"></td>
                            <td name="viewclo2C"></td>
                            <td name="viewclo2P"></td>
                            <td name="viewclo2A"></td>
                            <td name="viewplo2"></td>
                            <td name="viewCP2"></td>
                        </tr>

                        <tr>
                            <th name="viewclo3" style="width: 8.33%"></th>
                            <td name="viewclo3desc"></td>
                            <td name="viewclo3C"></td>
                            <td name="viewclo3P"></td>
                            <td name="viewclo3A"></td>
                            <td name="viewplo3"></td>
                            <td name="viewCP3"></td>
                        </tr>

                        <tr>
                            <th name="viewclo4" style="width: 8.33%"></th>
                            <td name="viewclo4desc"></td>
                            <td name="viewclo4C"></td>
                            <td name="viewclo4P"></td>
                            <td name="viewclo4A"></td>
                            <td name="viewplo4"></td>
                            <td name="viewCP4"></td>
                        </tr>

                        <tr>
                            <th name="viewclo5" style="width: 8.33%"></th>
                            <td name="viewclo5desc"></td>
                            <td name="viewclo5C"></td>
                            <td name="viewclo5P"></td>
                            <td name="viewclo5A"></td>
                            <td name="viewplo5"></td>
                            <td name="viewCP5"></td>
                        </tr>
                    </tbody>
                </table>


                <table class="table table-bordered">
                    <thead>
                        <th colspan="5" class="text-start fs-5">Lesson Planning with Mapping of CLO,
                            Teaching &
                            Assessment Strategies
                        </th>
                        <tr style="width: 100%">
                            <th class="text-start" style="width: 5%">Week
                            </th>
                            <th class="text-start" style="width: 50%">Topic
                            </th>
                            <th class="text-start" style="width: 20%">Teaching-Learning Strategy
                            </th>
                            <th class="text-start" style="width: 20%">Assessment Strategy
                            </th>
                            <th class="text-start" style="width: 5%">Corresponging CLOs
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">1
                            </th>
                            <td name="topic1"></td>
                            <td name="tl1"></td>
                            <td name="as1"></td>
                            <td name="cc1"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">2
                            </th>
                            <td name="topic2"></td>
                            <td name="tl2"></td>
                            <td name="as2"></td>
                            <td name="cc2"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">3
                            </th>
                            <td name="topic3"></td>
                            <td name="tl3"></td>
                            <td name="as3"></td>
                            <td name="cc3"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">4
                            </th>
                            <td name="topic4"></td>
                            <td name="tl4"></td>
                            <td name="as4"></td>
                            <td name="cc4"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">5
                            </th>
                            <td name="topic5"></td>
                            <td name="tl5"></td>
                            <td name="as5"></td>
                            <td name="cc5"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">6
                            </th>
                            <td name="topic6"></td>
                            <td name="tl6"></td>
                            <td name="as6"></td>
                            <td name="cc6"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">7
                            </th>
                            <td name="topic7"></td>
                            <td name="tl7"></td>
                            <td name="as7"></td>
                            <td name="cc7"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">8
                            </th>
                            <td name="topic8"></td>
                            <td name="tl8"></td>
                            <td name="as8"></td>
                            <td name="cc8"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">9
                            </th>
                            <td name="topic9"></td>
                            <td name="tl9"></td>
                            <td name="as9"></td>
                            <td name="cc9"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">10
                            </th>
                            <td name="topic10"></td>
                            <td name="tl10"></td>
                            <td name="as10"></td>
                            <td name="cc10"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">11
                            </th>
                            <td name="topic11"></td>
                            <td name="tl11"></td>
                            <td name="as11"></td>
                            <td name="cc11"></td>
                        </tr>

                        <tr>
                            <th class="text-start" style="width: 8.33%" class="text-center fs-5">12
                            </th>
                            <td name="topic12"></td>
                            <td name="tl12"></td>
                            <td name="as12"></td>
                            <td name="cc12"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">

                    <thead>
                        <th colspan="5" class="text-start fs-5">Evaluation Strategy</th>
                        <tr style="width: 100%">
                            <th class="text-start" style="width: 15%">Assessment Type
                            </th>
                            <th class="text-start" style="width: 45%">Assessment Tools
                            </th>
                            <th class="text-start" style="width: 10%">Marks Distribution
                            </th>
                            <th class="text-start" style="width: 20%">Bloom's Category
                            </th>
                            <th class="text-start" style="width: 10%">Sub Total
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td name="atype1" rowspan="6" style="vertical-align: middle"></td>
                            <td name="atool1"></td>
                            <td name="md1"></td>
                            <td name="bc1"></td>
                            <td rowspan="6" style="vertical-align: bottom;">
                                <div class="text-center">
                                    <p class="text-center fs-5">100%</p>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td name="atool2"></td>
                            <td name="md2"></td>
                            <td name="bc2"></td>
                        </tr>

                        <tr>
                            <td name="atool2"></td>
                            <td name="md2"></td>
                            <td name="bc2"></td>
                        </tr>

                        <tr>
                            <td name="atool2"></td>
                            <td name="md2"></td>
                            <td name="bc2"></td>
                        </tr>

                        <tr>
                            <td name="atool2"></td>
                            <td name="md2"></td>
                            <td name="bc2"></td>
                        </tr>

                        <tr>
                            <td name="atool2"></td>
                            <td name="md2"></td>
                            <td name="bc2"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="11" class="text-start fs-5">Grading</th>
                        </tr>
                        <tr style="width: 100%">
                            <th class="text-start" style="width: 8.33%">A
                            </th>
                            <th class="text-start" style="width: 8.33%">A-
                            </th>
                            <th class="text-start" style="width: 8.33%">B+
                            </th>
                            <th class="text-start" style="width: 8.33%">B
                            </th>
                            <th class="text-start" style="width: 8.33%">B-
                            </th>
                            <th class="text-start" style="width: 8.33%">C+
                            </th>
                            <th class="text-start" style="width: 8.33%">C
                            </th>
                            <th class="text-start" style="width: 8.33%">C-
                            </th>
                            <th class="text-start" style="width: 8.33%">D+
                            </th>
                            <th class="text-start" style="width: 8.33%">D
                            </th>
                            <th class="text-start" style="width: 8.33%">F
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr style="width: 100%">
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">90-100
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">85-89
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">80-84
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">75-79
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">70-74
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">65-69
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">60-64
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">55-59
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">50-54
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">45-49
                            </td>
                            <td class="text-start" style="width: 8.33%" class="text-center fs-6">0-44
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-start fs-5">Reference Book & Additional Materials</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td name="reference"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        &nbsp;
        <div class="bg-light shadow-sm mx-auto py-2 px-3"
            style="width: 90%; height: auto; border-radius: 15px 15px 15px 15px;">
            <div class="d-flex flex-md-nowrap align-items-center pt-2 pb-3 border-bottom">
                <button type="button" class="btn btn-primary mx-1">Download Course Outline</button>
            </div>
        </div>
        <!-- <P>pura format boshbe ekhane hehe</P> -->
    </main>
</body>

</html>