*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}


#FULL{
    padding: 100px;
}
#logo1{
    float: left;
    width: 10%;
    
}
#middle{
    float: left;
    background: blue;
    font: bold;
    color: antiquewhite;
    text-align: center;
    width: 80%;
    height: 50px;
    
}
#logo2{
    float: right;
    width: 10%;
}
#ccc{
    text-align: center;
}
th,td{
    text-align: left;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    
}

#table1_1{
    color: red;
    float:left;
 
    padding-right: 5px;
    width: 50%;
    }
#table1_2{
    color: blue;
    float:inline-end;
    padding-left: 5px;
    width: 50%;
    }