body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(Images/CO-background-3.png);
    background-size: cover;
    background-position: center;
}

.post-course-outline-student
{
    border-radius: 25px;
    width: 300px;
    height: 45vh;
    box-shadow: 0 0 3px;
    background: lightgrey;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}

.post-course-outline-student h1
{
    font-style: oblique;
    color: black;
    margin-bottom: 30px;
}

.post-course-outline-student select
{
    background: rgba(134, 174, 187, 0.11);
    border-radius: 100px;
    width: 100px;
    height: 50px;
    margin-bottom: 30px;
    text-align:center;
    font-style: oblique;
    font-weight: bold;
    font-size: medium;
}

.post-course-outline-student button
{
    background-color: rgba(134, 174, 187, 0.11);
    border-radius: 100px;
    width: 100px;
    height: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: medium;
}

.post-course-outline-student button a
{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.post-course-outline-student button:hover
{
    background-color: gray;
}